<h1> Edit user </h1>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div id="field">
    <%= f.label :name %> <br />
    <%= f.text_field :name %>
  </div>
 
  <div id="field">
    <%= f.label :email %> <br />
    <%= f.text_field :email %>
  </div>

  <div id="field">
    <%= f.label :password %> <br />
    <%= f.password_field :password %>
  </div>

  <div id="field">
    <%= f.label :password_confirmation, "Confirmation" %> <br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div id="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
